.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75rem;
}

.cartItem {
  width: minmax(min-content, 45vw);
  height: 25rem;
  display: flex;

  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 2.5rem;
  margin: 3rem;
}

.cartItem img {
  max-width: 20rem;
  margin-left: 2rem;
}

.cartItem .description {
  max-width: 100%;
  font-size: 3rem;
  margin: 1rem 2rem;
}

.countHandler input {
  width: 4rem;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 15rem;
  height: 5rem;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 0.8rem;
  margin: 1rem;
  cursor: pointer;
}

.checkout button:hover {
  background-color: white;
  color: rgb(19, 19, 19);
}

.cartTitle {
  font-size: 5rem;
}

.subTotal {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.btn-cart {
  width: 1.5rem;
}
